@page "/"

<PageTitle>Forside</PageTitle>

<h1>Velkommen</h1>

<p>Her kan du se de nyeste tråde</p>

<TrådListe></TrådListe>

<h3>Notes about this app:</h3>
<ul>
    <li>You need to reload browser to reload data.</li>
    <li>Dates are not implemented.</li>
    <li>Only upvote on posts work. No other voting works yet.</li>
    <li>Cannot create new posts, only new comments.</li>
    <li>No user selection. User is hardcoded (Mads).</li>
</ul>