@page "/"

<PageTitle>Forside</PageTitle>

<h1>Velkommen</h1>

<p>Her kan du se de nyeste tråde</p>

<TrådListe></TrådListe>

<h3>Notes about this app:</h3>
<ul>
    <li>No user selection. User is hardcoded (Mads).</li>
</ul>