@page "/"

<PageTitle>Forside</PageTitle>

<h1>Velkommen</h1>


<p><a href="/nytråd">Opret ny tråd her</a></p>
<p>Her kan du se de nyeste tråde</p>
<br/>

<TrådListe></TrådListe>

<br/>

<h3>Notes about this app:</h3>
<ul>
    <li>No user selection. User is hardcoded (Brother comments and HSM fan no.1 makes posts).</li>
</ul>